<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Delete</title>
  </head>
  <body>
    <h1>Article <%= @article.title %> is now deleted.</h1>
    <form action="/articles">
      <input type="submit" value="Okay">
    </form>
  </body>
</html>
