<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Edit</title>
  </head>
  <body>
    <form method="POST" action="/articles/<%= @article.id %>">
      <input type="hidden" id="hidden" name="_method" value="patch">
      <label for="title">Article Title: </label>
      <input type="text" name="title" id="title" value="title">
      <label for="content">Content: </label>
      <input type="text" name="content" id="content" value="content">
      <input type="submit" value="submit">
    </form>
  </body>
</html>
