<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Welcome</title>
  </head>
  <body>
    <h1>Welcome to the article homepage!</h1>
    <form method="POST" action="/articles/new">
      <p>To make a new article, click on Next</p>
      <input type="submit" value="Next">
    </form>
  </body>
</html>
