<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Form</title>
  </head>
  <body>
    <form method="POST" action="/articles">
      <label for="name">Testing</label>
      <input type="text" name="name" id="test" value="test">
      <input type="submit" value="submit">
    </form>
  </body>
</html>
