<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Article Page</title>
  </head>
  <body>
    <h1><%= @article[:title] %></h1>
    <p><%= @article[:content] %></p>
  </body>
</html>
