<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Article Page</title>
  </head>
  <body>
    <h1><%= @article[:title] %></h1>
    <p><%= @article[:content] %></p>
    <br>

    <form method="POST" action="/articles/<%= @article.id %>/delete">
      <input type="hidden" id="hidden" name="_method" value="delete">
      <input type="submit" value="delete">
    </form>
  </body>
</html>
